<!DOCTYPE html>
<html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page displayed when there is an error.">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="m-5">
<h1>Error: Page Not Found</h1>
<p>It looks like this page doesn't exist. </p>
<p>Please visit our <a href="/chat">homepage</a> and try again.</p>
</body>
</html>